<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmpliferNav.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EB2313395623FE3BEE51D2F1D4F7A42E6BC029BF</string>
				<key>dateExpires</key>
				<string>2023/11/18</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PWAH4YW73K.com.tonycore.aid</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PWAH4YW73K</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PWAH4YW73K.com.tonycore.aid</string>
				</array>
			</dict>
			<key>name</key>
			<string>AmpliferNav.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d26ab99a-b066-4c39-bf41-139932fcdeac</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PWAH4YW73K</string>
				<key>name</key>
				<string>Jianhong Hao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
